<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{data.title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    /* Custom styles */
    .checkbox {
      color: #949494;
    }
  </style>
</head>
<body>
  <a class="github-fork-ribbon" href="https://github.com/allianz" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            Join to Github Organization
          </h1>
          <h2 class="subtitle" id="org_name">
            {{ data.org_name }}
          </h2>
          <div class="box">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input is-rounded is-hovered is-dark" id="username" placeholder="Your Github username">
                <span class="icon is-small is-left ">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="is-rounded input is-dark" type="email" id="email" placeholder="Your Allianz Email Address">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <label class="checkbox">
                  <input type="checkbox" id="confirmation">
                  I have read thre {{data.company}} <a class="has-text-info" href="#">open source guidelines</a>.
                </label>
              </p>
            </div>
            <br>
            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <button class="button is-info" id="submit" title="submit" disabled>Invite</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script>
  var submit = document.getElementById("submit");
  var username = document.getElementById("username")
  var email = document.getElementById("email")
  var confirmation = document.getElementById("confirmation")

  submit.addEventListener("click", request_submit);

  email.addEventListener("input", function() {
    updateSubmitButton()
  });
  username.addEventListener("input", function() {
    updateSubmitButton()
  });
  confirmation.addEventListener("input", function() {
    updateSubmitButton()
  });

  function updateSubmitButton(){
    if (email.value && username.value && confirmation.checked) {
        submit.disabled = false;
      } else {
        submit.disabled = true;
      }
  }


  function request_submit(evt) {
      evt.preventDefault();
      submit.classList.add("is-loading");

      fetch("/api/invite", {
        method: "PUT",
        headers: new Headers({
          "content-type": "application/json"
        }),
        body: JSON.stringify({
          username: username.value,
          email: email.value
        })
      })
      .then(res => {
        if (res.status === 200) {
          showSuccess()
        } else if (res.status === 400) {
          return res.json().then(response => { 
            showError(response.error) 
          });
        } else {
          showInternalError()
        }
      })
      .finally(() => {
        submit.classList.remove("is-loading");
      });
    }

    // Show result
    function showSuccess() {
      Swal.fire(
            'Invitation sent ...',
            'Please check the mailbox associated with Github.',
            'success'
          );
    }
    function showError(msg) {
      Swal.fire(msg, '', 'error');
    }
    function showInternalError() {
      window.location.href = "/error";
    }
</script>

</html>
